* { 
    margin: 0; 
    padding: 0; 
  }

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    padding: 20px 70px;
}

.topline {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px;
    color: #E5E7EB;
}

.hero {
    display= flex;
}

.hero-container {
    max-width: 200px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.mango {
    height: 300px;
    width: auto;
    object-fit: cover;
    border-radius: 3%;
}

.logo {
    font-size: 24px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.content {
    text-align: center;
}

.content-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 50px 100px;
    gap: 40px;
}

.variety, .thai, .jalepeno, .bell {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding-bottom: 14px;
}

.block {
    width: 200px;
}

.review-container {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 70px;
}

.review {
    color: #1F2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;    
}

.review-author {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

.sign-up {
    display: flex;
    background-color:#3882F6;
    margin: 50px 70px;
    height: 100px;
    border-radius: 5px;
    padding: 40px 80px;
}

.sign-up-text {
    color: #F9FAF8;
}

.sign-up-subtext {
    color: #E5E7EB;
}

.footer {
    text-align: center;
    padding: 10px;
    font-weight: 200;
}