body {
    
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}